<?xml version="1.0" encoding="utf-8"?>
<!--
  Azure App Service (Windows) web.config
  Routes all traffic through Node.js via iisnode
-->
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server/server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Do not rewrite requests to node_modules or static assets -->
        <rule name="StaticContent">
          <action type="Rewrite" url="server/public{REQUEST_URI}"/>
        </rule>
        <!-- All other requests go through Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="server/server.js"/>
        </rule>
      </rules>
    </rewrite>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough"/>
    <iisnode node_env="%NODE_ENV%" watchedFiles="web.config;*.js"/>
  </system.webServer>
</configuration>
